
/* section.apresentação */
section.apresentacao {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7% 0%;
}
section.apresentacao .container .row .col-sm-6.col-md-6.col-lg-6.ap {
  padding-top: 3%;
}
section.apresentacao .container .row .col-sm-6.col-md-6.col-lg-6 .title p.h1 strong {
  color: #FFF;
}
section.apresentacao .container .row .col-sm-6.col-md-6.col-lg-6 .title p.h1,
section.apresentacao .container .row .col-sm-6.col-md-6.col-lg-6 .d-flex.w-100 .d-flex p.h1 strong {
  color: #fb7b22 !important;
}
section.apresentacao .container .row .col-sm-6.col-md-6.col-lg-6 a.btn.btn-tube svg {
  fill: red;
}
section.apresentacao .container .row .col-sm-6.col-md-6.col-lg-6 a.btn.btn-tube {
  box-shadow: 1px 1px 10px 1px grey;
  background-color: #FFF;
  margin: 3% 0;
  position: relative;
}
section.apresentacao .container .row .col-sm-6.col-md-6.col-lg-6 video.w-100 {
  height: 360px;
}
section.apresentacao .container .row .col-sm-6.col-md-6.col-lg-6 .title {
  position: relative;
}
section.apresentacao .container .row .col-sm-6.col-md-6.col-lg-6 .title p.h6 {
  margin-top: 3%;
  margin-bottom: 0%;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  width: 90%;
}
section.apresentacao .container .row .col-sm-6.col-md-6.col-lg-6 .d-flex.w-100 .d-flex p.descri {
  color: #fff;
  font-size: 14px;
}
section.apresentacao .container .row .col-sm-6.col-md-6.col-lg-6 .d-flex.w-100 {
  justify-content: space-between;
}
section.apresentacao .container .row .col-sm-6.col-md-6.col-lg-6 .d-flex.w-100 .d-flex.flex-column.align-items-start.justify-content-center p.h6 {
  color: #fff;
}
section.apresentacao .container .row .col-sm-6.col-md-6.col-lg-6 .d-flex.w-100 .d-flex.flex-column.align-items-start.justify-content-center {
  width: 49%;
}
/* end section.apresentação */


@media only screen and (min-width:320px) and (max-width: 767px) {

  /* section apresentacao */

  section.apresentacao .container .row {
    flex-direction: column-reverse;
  }
  section.apresentacao .container .row .col-sm-6.col-md-6.col-lg-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  section.apresentacao .container .row .col-sm-6.col-md-6.col-lg-6 video.w-100 {
    height: 300px;
  }
  section.apresentacao .container .row .col-sm-6.col-md-6.col-lg-6 .title {
    top: 0;
    margin-top: 13%;
  }
  section.apresentacao .container .row .col-sm-6.col-md-6.col-lg-6 .title p.h1 {
    font-size: 26px;
    text-align: center;
  }
  section.apresentacao .container .row .col-sm-6.col-md-6.col-lg-6 .d-flex.w-100 {
    display: none !important;
  }
  section.apresentacao .container .row .col-sm-6.col-md-6.col-lg-6 .title p.h6 {
    width: 100%;
  }

  /* end section apresentacao */
}

@media only screen and (min-width:320px) and (max-width:374px) {
  section.apresentacao .container .row .col-sm-6.col-md-6.col-lg-6 .title p.h1 {
    font-size: 23px;
  }
}

@media only screen and (min-width:768px) and (max-width: 1023px) {

  /* section apresentaçao */

  section.apresentacao .container .row {
    flex-direction: column;
  }
  section.apresentacao .container .row .col-sm-6.col-md-6.col-lg-6 {
    max-width: 100%;
  }
  section.apresentacao .container .row .col-sm-6.col-md-6.col-lg-6 video.w-100 {
    margin-bottom: 4%;
  }

  /* end section apresentaçao */

}